
numpy==latest
pandas==latest
scikit-learn==latest
matplotlib==latest
jupyter==latest
mlflow==latest
fastapi==latest
uvicorn==latest
joblib==latest
category_encoders==latest
flake8==latest
black==latest
pytest==latest
pylint==latest
mypy==latest
seaborn==latest
